@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

#root {
  text-align: center;
}

.logo {
  display: flex;               
  align-items: center;       
  will-change: filter;
  transition: filter 300ms;
  font-family: 'Wallpoet', sans-serif;
  font-size: 8em;
}

.logo a {
  color: white;
}

.logo img {
  height: 0.75em;
  width: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff00ff);
  transform: scale(1.03);
  transition: transform 0.2s ease;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
